@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}
:root {
    --azul: #004AAD;
    --amarelo: #FFD359;
}

header {
    /* position: fixed; */
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: 0.5s;
    height: 5rem;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin: 2rem;
}
.logo img {
    width: 100px;
}

.navbar {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    margin: 2rem;
    z-index: 1000;
}

.navbar li {
    position: relative;
}


.navbar a {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--azul);
}
.navbar a:hover {
    color: #000000;
}

.navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.3s all linear;
}

.navbar a:hover::after, .navbar .home-active::after {
    width: 100%;
}

.logout {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: flex-end;
    text-decoration: none;
}

.logout a {
    padding: 10px;
    background-color: var(--azul);
    border-radius: 10px;
    margin-right: 2rem;
    color: #ffffff;
    transition: .3s;
}

.logout a:hover {
    background-color: #ffffff;
    border: 2px solid var(--azul);
    color: var(--azul);
}


form {
    margin-top: 3rem;
 display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    position: relative;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid var(--amarelo);
    border-radius: 20px 0px 20px 0px;
}

.titulo {
       font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--azul);
    text-align: center;
}

form label {
    position: relative;
}

form input {
      color: #000000;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
input {
    font-size: medium;
}

.btn {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    font-size: 16px;
    transition: .3s ease;
    background-color: var(--amarelo);
}

.btn:hover {
    background-color: #E8B51FFF;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;

}

main img {
    width: 100%;
    position: absolute;
    height: 850px;
}

